
/* within this file we'll need to do the following: 
[] create an angry cursor style 
[] styling the size of the images 
 */

 /* body {
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow-wrap: break-word;
  transition: background 500ms ease-in-out,color 200ms ease;
  cursor: no-drop;
 } */

 /* body {
  cursor: url('faces/angry_ben.jpg'), auto;
 } */